:root {
  --primary: #323232;
  --light-bg: #f4f4f4;
  --border: #eee;
}

.profile-section {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  color: var(--primary);
  margin: 30px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-card {
  width: 100%;
  background-color: #fff;
  padding: 3rem;
  border-radius: 30px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.profile-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -15px;
}

.card__profile img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__name {
  margin-left: 1.25rem;
}

.card__handle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3px;
}

.card__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

span.circle {
  height: 3px;
  width: 3px;
  background-color: var(--primary);
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
}

.border {
  border-radius: 5px;
  height: 2px;
  background-color: var(--border);
  border: none;
  margin: 1.25rem 0;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.85rem;
}

.date svg {
  margin-left: 5px;
  height: 1rem;
  width: 1rem;
}

.heading {
  font-weight: bold;
  font-size: 1.1rem;
}

.insights {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.insights .insight {
  width: 280px;
  padding: 1rem;
  border-radius: 8px;
  outline: 2px solid var(--border);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  gap: 30px;
}

.insights .insight:hover {
  color: white;
  background-color: var(--primary);
  outline: none;
}

.insights .insight .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.insight + .insight {
  margin-left: 1rem;
}

.number {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: bold;
}

.website-link {
  text-decoration: none;
  color: inherit;
}

.website {
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: bold;
}

.number .info {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: normal;
}

@media (max-width: 1381px) {
  .insights {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .insights .insight:nth-child(3) {
    margin-top: 1rem;
  }
}

@media (max-width: 990px) {
  .insights {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .insights .insight + .insight {
    margin: 0;
    margin-top: 1rem;
  }
}

@media (max-width: 740px) {
  .card {
    width: 90%;
  }
  .navlinks {
    display: none;
  }
}

@media (max-width: 545px) {
  .card__button button {
    width: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .card__button button span {
    display: none;
  }
  .card__button button svg {
    margin-right: 0;
  }
}

@media (max-width: 475px) {
  .card__button {
    display: none;
  }
}
